<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Website Perubahan Iklim</title>
    </head>
    <body>
        <header class="header">
            <div class="header_box_text">
                <h1 class="header_index_text">Perubahan iklim</h1>
            </div>
        </header>
        <main>
            <section class="main_title">
                <h1 class="main_title_text">Definisi perubahan iklim</h1>
                <p class="main_text">Perubahan iklim mengacu kepada pada perubahan suhu dan pola cuaca dalam jangka panjang.
                    Pengeseran ini mungkin bersifat alami, tetapi sejak periode 1800-an,
                    aktivitas manusia telah menjadi pendorong utama perubahan iklim,
                    terutama dengan pembakaran bahan bakar fosil (seperti batu bara, minyak, dan gas) yang menghasilkan gas yang memerangkap panas.
                </p>
            </section>
            <section class="main_title">
                <h1 class="main_title_text">Dampak dari perubahan iklim</h1>
                <p class="main_text">Dampak dari perubahan iklim sangat berbahaya. Jika dibiarkan,
                    permukaan laut meningkat, gletser mencair, CO2 di udara meningkat,
                    hutan dan satwa liar menurun, dan kehidupan air juga terganggu.
                </p>
            </section>
            <section>
                <h1 class="list_title">Contoh perubahan iklim</h1>
                <ul class="list_index">
                    <li class="list_index_text">
                        <a>Curah hujan yang tinggi
                            <p>Curah hujan ekstrem yang berlangsung lama biasanya akan menimbulkan genangan kemudian banjir di daerah dataran rendah atau cekungan, 
                                dan di daerah sekitar perbukitan atau pergunungan berpotensi menimbulkan longsor.
                            </p>
                            <img class="item_img_index" src="static\img\pi8.jpg" alt="Gamber hujan deras">
                        </a>
                    </li>
                    <li class="list_index_text">
                        <a>Musim kemarau yang berkepanjangan
                            <p>kemarau yang berkepanjangan dapat menyebabkan kerusakan permanen pada tanah, 
                                seperti penurunan kesuburan dan peningkatan salinitas, 
                                yang berdampak pada produktivitas jangka panjang.
                            </p>
                            <img class="item_img_index" src="static\img\pi6.jpg" alt="Gamber musim kemarau">
                        </a>
                    </li>
                    <li class="list_index_text">
                        <a>Peningkatan volume air akibat mencairnya es di kutub
                            <p>Naiknya permukaan air laut disebabkan oleh mencairnya es di kutub-kutub bumi. 
                                Lama-kelamaan, hal ini akan menyebabkan banjir di wilayah sekitar. 
                                Bahkan, dapat membuat pulau-pulau kecil tenggelam.
                            </p>
                            <img class="item_img_index" src="static\img\pi4.jpg" alt="Gamber meleleh es kutub">
                        </a>
                    </li>
                    <li class="list_index_text">
                        <a>Terjadinya bencana alam angin topan
                            <p>Angin topan yang melanda bumi tidak jarang akan menimbulkan berbagai kerusakan. 
                                Bencana angin topan mirip dengan angin kencang. 
                                Biasanya, angin topan dapat menghancurkan apa saja yang di dekatnya, 
                                mulai dari kerusakan bangunan hingga infrastruktur jalanan.
                            </p>
                            <img class="item_img_index" src="static\img\pi7.jpg" alt="Gamber angin puting beliung">
                        </a>
                    </li>
                    <li class="list_index_text">
                        <a>Berkurangnya sumber air
                            <p>Jika jumlah air tanah di bumi semakin berkurang dapat menyebabkan kekeringan. 
                                Tanah yang kering membuat sanitasi menjadi semakin buruk. 
                                Dalam keadaan yang seperti ini risiko dan penularan penyakit semakin meningkat.
                            </p>
                            <img class="item_img_index" src="static\img\pi1.jpg" alt="Gamber keringnya sumber air">
                        </a>
                    </li>
                    <li class="list_index_text">
                        <a>Fenomena El Nino dan El Nina
                            <p>El Nino dan La Nina adalah cuaca ekstrem yang dapat mempengaruhi iklim dunia. 
                                El Nino terjadi ketika suhu permukaan laut menjadi lebih hangat, 
                                sedangkan La Nina terjadi ketika suhu permukaan laut menjadi lebih dingin.
                            </p>
                            <img class="item_img_index" src="static\img\el nino dan el nina.jpg" alt="Gamber el nino dan la nina">
                        </a>
                    </li>
                </ul>
            </section>
            <section>
                <h1 class="list_title">Cara mengatasi perubahan iklim</h1>
                <ul class="list_index">
                    <li class="list_index_text">
                        <a>Hemat energi di rumah
                            <p>Sebagian besar listrik dan panas kita dihasilkan ari batu bara, minyak, dan gas.
                                Gunakan lebih sedikit energi dengan meminimalkan kebutuhan memanaskan dan mendinginkan suhu,
                                beralih ke bola lampu LED dan peralatan listrik hemat energi,
                                mencuci pakaian Anda dengan air dingin, atau menjemur cucian Anda alih-alih menggunakan mesin pengering.
                            </p>
                            <img class="item_img_index_2" src="static\img\hemat energi.jpg" alt="Gambar hemat energi">
                        </a>
                    </li>
                    <li class="list_index_text">
                        <a>Jalan kaki, bersepeda, atau naik transportai umum
                            <p>Jalan raya dipenuhi kendaraan, yang mayoritas menggunakan bahan bakar solar atau bensin. 
                                Berjalan kaki atau bersepeda daripada menggunakan kendaraan bermotor akan mengurangi emisi gas rumah kaca, 
                                sekaligus meningkatkan kesehatan dan kebugaran Anda. Untuk jarak yang lebih jauh, 
                                pertimbangkan untuk naik kereta atau bus. Selain itu, apabila memungkinkan, cobalah berbagi tumpangan.
                            </p>
                            <img class="item_img_index_2" src="static\img\sepeda.jpg" alt="Gambar bersepeda">
                        </a>
                    </li>
                    <li class="list_index_text">
                        <a>Perbanyak makan sayur
                            <p>Mengonsumsi lebih banyak sayuran, buah, gandum utuh, legum, kacang-kacangan, dan biji-bijian, 
                                serta lebih sedikit daging dan susu, dapat secara signifikan menurunkan dampak lingkungan Anda. 
                                Memproduksi makanan nabati umumnya menghasilkan lebih sedikit emisi gas rumah kaca dan membutuhkan lebih sedikit energi, 
                                tanah, dan air.
                            </p>
                            <img class="item_img_index_2" src="static\img\makan sayur.jpg" alt="Gambar buah dan sayur">
                        </a>
                    </li>
                    <li class="list_index_text">
                        <a>Pertimbangkan transportasi Anda
                            <p>Pesawat terbang menggunakan banyak bahan bakar fosil, menghasilkan emisi gas rumah kaca yang signifikan. 
                                Karena itu, menggunakan lebih sedikit transportasi udara dapat menjadi salah satu cara tercepat untuk mengurangi dampak lingkungan Anda. 
                                Ketika memungkinkan, lakukan pertemuan secara virtual, dengan naik kereta, atau bahkan hindari perjalanan jarak jauh.
                            </p>
                            <img class="item_img_index_2" src="static\img\transportasi.jpg" alt="Gambar transportai">
                        </a>
                    </li>
                    <li class="list_index_text">
                        <a>Buang lebih sedikit makanan
                            <p>Saat membuang makanan, Anda juga membuang sumber daya dan energi yang digunakan untuk menanam, memproduksi, mengemas, dan mengangkutnya. 
                                Dan ketika membusuk di tempat pembuangan sampah, makanan menghasilkan metana, gas rumah kaca yang kuat. 
                                Jadi, gunakan apa yang Anda beli dan buatlah kompos dari sisa makanan.
                            </p>
                            <img class="item_img_index_2" src="static\img\kurangi sampah makanan.jpg" alt="Gambar sampah makanan">
                        </a>
                    </li>
                    <li class="list_index_text">
                        <a>Kurangi, gunakan kembali, perbaiki & daur ulang
                            <p>Peralatan elektronik, pakaian, dan barang-barang lain yang kita beli menyebabkan emisi karbon di setiap titik produksinya, 
                                mulai dari ekstraksi bahan mentah hingga pembuatan dan pengangkutan barang ke pasar. Untuk melindungi iklim kita, 
                                beli lebih sedikit barang, belanja barang bekas, perbaiki apa yang Anda bisa, dan daur ulang.
                            </p>
                            <img class="item_img_index_2" src="static\img\daur ulang.jpg" alt="Gambar daur ulang">
                        </a>
                    </li>
                    <li class="list_index_text">
                        <a>Ganti sumber energi rumah Anda
                            <p>Tanyakan kepada perusahaan penyedia listrik Anda apakah listrik rumah Anda berasal dari minyak bumi, batu bara, atau gas. 
                                Jika memungkinkan, cari tahu apakah Anda dapat beralih ke sumber energi terbarukan seperti angin atau matahari. 
                                Atau pasang panel surya di atap Anda untuk menghasilkan energi untuk rumah Anda.
                            </p>
                            <img class="item_img_index_2" src="static\img\sumber energi.jpg" alt="Gambar sumber energi">
                        </a>
                    </li>
                    <li class="list_index_text">
                        <a>Beralih ke kendaraan listrik
                            <p>Jika Anda berencana membeli mobil, pertimbangkan untuk membeli mobil listrik, yang saat ini makin variatif dan makin murah di pasaran. 
                                Walaupun masih menggunakan listrik yang dihasilkan dari bahan bakar fosil, 
                                mobil listrik membantu mengurangi polusi udara dan menghasilkan jauh lebih sedikit emisi gas rumah kaca daripada kendaraan berbahan bakar bensin atau solar.
                            </p>
                            <img class="item_img_index_2" src="static\img\mobil listrik.jpg" alt="Gambar mobil listrik">
                        </a>
                    </li>
                </ul>
            </section>
            <section class="energi">
                <a>Mau mengetahui jumlah efisiensi energi di rumah anda?</a>
                <a href="energi">
                    <img src="static\img\light.svg" alt="Lampu">
                    <span>Klik disini</span>
                </a>
            </section>
            <section class="more_info">
                <h1>Untuk informasi lebih lanjut, bisa pergi ke website berikut :</h1>
                <ul class="more_list">
                    <li class="list_item">
                        <a href="https://www.bmkg.go.id/">
                            <img class="list_img" src="static\img\logo_bmkg.png" alt="Logo BMKG">
                            BMGK Indonesia
                        </a>
                    </li>
                    <li class="list_item">
                        <a href="https://www-ncei-noaa-gov.translate.goog/monitoring?_x_tr_sl=en&_x_tr_tl=id&_x_tr_hl=id&_x_tr_pto=tc">
                            <img class="list_img" src="static\img\logo_ncei.png" alt="Logo NCEI">
                            National Center for Environmental Information Amerika Serikat
                        </a>
                    </li>
                </ul>
            </section>
        </main>
        <footer class="footer_info">
            <p>Website ini dibuat oleh Auzaie Faid Wafi</p>
        </footer>
    </body>
</html>