<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/css/style_test.css">
        <title>Test HTML</title>
    </head>
    <body>
        <header class="header_index">
            <div class="header_index_box">
                <h1 class="header_title">Judul text</h1>
                <h2>Text utama</h2>
            </div>
        </header>
        <main class="main">
            <a>Text lanjutan</a>
            <p>Text paragraph</p>
        </main>
    </body>